.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    /*width: 930px;*/
    max-width: 900px;
    margin: 0 auto;
    
}

.bitcoin-img-container{
    max-width: 900px;
    border-radius: 10px;
}
.slide{
    height: 600px;
    border-radius: 20px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    max-width: 900px;
    margin-top: 50px;
    border-radius: 20px;
    
}
.slide-item img {
    display: block;
    height: 600px;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
    
}
.slide-control{
    width: 60px;
}

.plans-container--slider {
    justify-content: center;
}
.main-tables-container {
    justify-content: right;
    max-width: 900px;
    margin: 0 auto;
}
.title_Headers{
    display: none;
}
.header--title-container h1{
    margin-block-start: 60px;
    font-size: 3rem;
}
.logo_one{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    top: -60px;
    left: 40%;
}
footer{
    max-width: 900px;
    margin: 0 auto;
}