.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    /*width: 930px;*/
    max-width: 900px;
    margin: 0 auto;
    
}
.bitcoin-img-container{
    max-width: 900px;
    border-radius: 10px;
}

.plans-container--slider {
    justify-content: center;
}
.main-tables-container {
    justify-content: right;
    max-width: 900px;
    margin: 0 auto;
}
.title_Headers{
    display: none;
}
.header--title-container h1{
    margin-block-start: 60px;
    font-size: 3rem;
}
.logo_two{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    top: -60px;
    left: 40%; 
}
footer{
    max-width: 900px;
    margin: 0 auto;
}