.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    /*width: 930px;*/
    max-width: 900px;
    margin: 0 auto;
    
}

.plans-container--slider {
    justify-content: center;
}
.main-tables-container {
    justify-content: right;
    /*width: 930px;*/
    max-width: 900px;
    margin: 0 auto;
}