.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    /*width: 930px;*/
    max-width: 900px;
    margin: 0 auto;
    
}

.plans-container--slider {
    justify-content: center;
}
.main-tables-container {
    justify-content: right;
    /*width: 930px;*/
    max-width: 900px;
    margin: 0 auto;
}
.title_Headers{
    display: none;
}
.header--title-container h1{
    margin-block-start: 20px;
    font-size: 3rem;
}
.logo_two{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    top: -60px;
    left: 50%; 
}