/* 
1. Posicionamiento 
2. Modelo de caja(box model) parte margin y pading
3. Tipografia
4. Visuales
5. Otros
color https://color.adobe.com/explore
*/


:root {
    /* colores*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D4;
    --secundary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}
body{
    background-color: rgb(13, 56, 74, 99%) ;
}
/*Estilo del contenedor header*/
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background-color: #024959;
    /*
    background: rgb(2,0,36);
    background: linear-gradient(31deg, rgba(2,0,36,1) 13%, rgba(9,9,121,1) 68%, rgba(0,212,255,1) 100%);
   */
    
}
header .header-icons-container{
    width: 100%;
    height: 70px;
    display: grid;
    background-color: rgba(9,9,121,1) 68%;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 30px;
}
header .icons span{
    color: white;
}
.icons a {
    text-decoration: none;
    display: inline;
    color: black;
}
nav{
    display: grid;
    height: 90px;
    grid-template-columns: 1fr;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;

}
nav .profile-link a{
    color: white;
    border-bottom: 1px solid rgb(131, 127, 208);
    font-weight: bold;
    
}

/*Estilo del logo*/
/*header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}*/

.title_Headers{
    color: #F2C12E;
    font-size: 3rem;

}



/*Estilos en div que es contenedor texto*/
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    /*
    color: var(--just-white);
    */
    color: #F2AE30;
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.8rem;
    /*
    color: var(--soft-orange);
    */
    color: #F2AE30;
}
.header--title-container .header--button{
    position: absolute;
    left: 0;                    /*Posecionar botom*/
    right: 0;                    /*Posecionar botom*/
    margin-right: auto;         /*Posecionar botom*/
    margin-left: auto;          /*Posecionar botom*/
    /*Posecionar contenedor botom*/
    top: 275px;    /*lo deja en el medio*/                 
    display: block;
    padding: 15px;
    margin-top: 35px;
    width: 225px;
    height: 45px;
    /*
    background-color: var(--off-white);
    */
    background-color: #A64F03 ;
    /*Sombras*/
    box-shadow: 0px 4px 8px rgba(89, 73, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    /*
    color: var(--black)  ;
    */
    color: white;
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 8px;
    background-image: url("./")
}

/*EStilo a mi primer contenedor main*/

main {
    width:100% ;
    height: auto;
   /* background-color: var(--off-white);*/
   

}

.main-exchange-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #024959;
    /*
    background-color: rgb(13, 56, 74, 99%) ;
    */
}
.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;        /*centrar el texto en el centro*/
} 
.main-exchange-container .backgroundimg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px;
    background-image: url("./assets/img/img\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px gray;
    transform: rotate(-90deg);
    
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    /*color: var(--black);*/
    color: #A64F03;
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
   /* color: #757575;*/
   color: white;
}

/*Estiloo scrooll*/
.main-tables-container {
    display: flex;
    height: 360px;
    min-width: 320px;
    gap: 10px;
    overflow-x: scroll;     /*da la opcion para subir en caso de mas contenido*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}

/*Estilo en las tablas*/
.main-currency-table {
    /*Parte scroll*/
    position: relative;
    scroll-snap-align: center;


    /*final scroll*/
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif
}
.currency-table-container .img{
    width: 200px;
    height: 200px;
    
    border-radius: 20px;
}
.img_1:hover{
    transform: scale(1.2) rotate(270deg);
    margin-block-end: 15px;
    margin-block-start: 10px;
    border-radius: 20px;
}
.img_1{
    transform: rotate(270deg);
}
.img_2:hover{
    transform: scale(1.2);
    margin-block-end: 15px;
    margin-block-start: 10px;
    border-radius: 20px;
}
.img_3 {
    transform: rotate(270deg);
}
.img_3:hover{
    transform: scale(1.2) rotate(270deg);
    margin-block-end: 15px;
    margin-block-start: 10px;
    border-radius: 20px;
}

/*Estilo del titulo*/
.main-currency-table .currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table-container table {
    width: 100%;
    height: 100%;
}

.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);

}
.currency-table-container .table__top-left {
    border-radius: 15px 0 0 0 ;
}
.currency-table-container .table__top-right {
    border-radius: 0 15px  0 0;
}
.currency-table-container .table__bottom-left {
    border-radius:  0 0 0 15px;
}
.currency-table-container .table__bottom-right {
    border-radius:  0 0 15px 0;
}
.currency-table-container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    list-style: 1.7rem;
    color: #757575;
}
.currency-table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top:  210px;
    padding:  8px;
    background-color: var(--soft-orange);
    border-radius: 5px;
}
.currency-table--date p {
    
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--black);
    margin-bottom: 20px;
}

/*Tabla de comisiones*/
.main-commissions-table {
    /*Parte scroll*/
    position: relative;
    scroll-snap-align: center;


    /*final scroll*/
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif
}
.main-commissions-table .commissions-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secundary-blue);
}
.commissions-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.commissions-table-container table {
    width: 100%;
    height: 100%;
}
.commissions-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.commissions-table-container .tablecomi__top-left {
    border-radius: 15px 0 0 0 ;
}
.commissions-table-container .tablecomi__top-right {
    border-radius: 0 15px  0 0 ;
}
.commissions-table-container .tablecomi__bottom-left {
    border-radius: 0 0 0 15px ;
}
.commissions-table-container .tablecomi__bottom-right {
    border-radius: 0 0 15px 0;
}

.commissions-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top:  15px;
    padding:  8px;
    background-color: var(--soft-blue);
    border-radius: 5px;
}
.commissions-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
/*Secion de cards*/

.main-product-datail {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    padding:  20px 10px;
    background-color: rgb(13, 56, 74, 99%) ;
   /* background-color: #172026; */
   /* background-color:var(--warm-black);*/   /*fondo contenedor*/
    font-family: 'DM Sans', sans-serif  ;
}
.product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top:  -10px;
    left: 50%;
    background-image: url(./assets/icons/batata.svg);

}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p {
    margin-bottom:  20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
/*Contenedor 1*/
.product-detail--card {
    width: 90%;
    /*min-width: 288px;*/
    max-width: 400px;
    height:150px ;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);  /*fondo hijos contenedor*/
    border-radius: 5px;
    box-shadow:  0 4px 8px rgba(0 , 0, 0 , 0.16);
}
.product-detail--card .icon--card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom:  10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    list-style: 1.8rem;
    color: #808080;
}
/*contenedor 1*/
.clock {
    background-image: url(./assets/icons/clock.svg);
}
/*Contenedor 2*/
.eye {
    background-image: url(./assets/icons/eye.svg);
}

/*Contenedor 3*/
.dinner {
    background-image: url(./assets/icons/dollar-sign.svg);
    
}
/* Contenedor 4*/
.check {
    background-image: url(./assets/icons/check-circle.svg);
    
}

/*tercera secion*/
.bitcoin-img-container {
    width:100% ;
    min-width: 320px;
    max-width: 900px;
    margin-block-start: 10px;
    margin: 0 auto;
    height: 60vh;
    background-image: url("./assets/img/medium.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-family:'DM Sans', sans-serif  ;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
    color: var(--just-white);
}

/*Cuarta seccion*/
.main-blok{
    max-width: 900px;
    margin: 0 auto;
    margin-block-start: 10px;
}
.container_new_blok{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    /*display: grid;
    grid-template-columns: minmax(300px, 2fr);
    grid-auto-rows: 400px;*/
    border-bottom: 1px solid #ddd;
}
.container_new_blok-info {
    align-self: center;
    text-align: center;
    width: 320px;
}
.info-title{
    color: var(--warm-black);
    font-size: 3rem;
    font-weight: bolder;
}
.info-subtitle{
    color: var(--warm-black);
    font-size: 1.5rem;
    margin-block-start: 10px;
    padding: 5px;
    margin-block-end: 2.4rem;
    text-align: justify;
}
.info-button{
    border: none;
    border-radius: 2rem;
    background-color: var(--bitcoin-orange);
    font-weight: bolder;
    padding: 12px 24px;
}
.info-button a{
    color: var(--warm-black);
    text-decoration: none;
}


.container_new_blok-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-block-start: 10px;
    max-width: 320px;
    border-radius: 10px;
}

/*pictures*/
.pictures{
    max-width: 900px;
    margin: 0 auto;
}

.pictures-title{
    color: #F2AE30;
    font-weight: bold;
    text-align: center;
    margin-block-start: 10px;
    font-size: 2rem;

}
.pictures-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-content: center;
}
.pictures-item {
    margin-block-start: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.pictures-item_big{
    grid-area: 1 / 1/ 3 / 3;
}

/*estilos de foto del home menu*/
.product-menu-title{
    font-size: 2rem;
    color: #F2AE30;
    font-weight: bolder;
    text-align: center;
    margin-block-end: 10px;
    margin-block-start: 10px;
}
.wapper-menu-grid{
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
}
.wapper-menu-item {
    background-color: #027373;
    padding: 15px;
    border-radius: 10px;
}
.wapper-menu-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}



/* Ultima seccion*/
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    /*background-color: #027373;*/

}
/*Estilo titulo*/
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin:  0 auto;
    margin-bottom: 50px;
    
}
/*Estilo subtitulo*/
.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: #F2AE30;
}
/*Estilo parrafo*/
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/*Estilo de las tarjetas*/

.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
   /* background-color: #04BF9D;*/
}
/*prueba de scroll */
.plans-container--slider::-webkit-scrollbar {
    
    width: 8px;
    height: 8px;
}
.plans-container--slider::-webkit-scrollbar-thumb{
    background-color: var(--bitcoin-orange);
    border-radius: 4px;   
}
.plans-container--slider::-webkit-scrollbar-thumb:hover{
    background: var(--bitcoin-orange);
    box-shadow: 0 0 2px 1 px rgba(0 , 0, 0 , 0.2);
}
.plans-container--slider::-webkit-scrollbar-thumb:active{
    background-color:  var(--bitcoin-orange);
}
.plans-container--slider::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
.plans-container--slider::-webkit-scrollbar-track:hover,
.plans-container--slider::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

/*TARJETA Recomendado*/
.plans-container--card1 {
    position: relative;
    scroll-snap-align: center;
    width: 70%;  /*Poner mejor 190px */
    min-width: 190px;
    max-width: 300px;
    height: 250px;   /*Poner mejor 248px*/
    margin: 50px 5px 0;
    padding: 0 15px;
    /*background-color: #AFEEEE;*/
    background-color: #E4F2E7;
    border-radius: 15px; /*mejor 8px*/
    box-shadow: 0 4px 8 px rgba(89, 73, 30, 0.16);
}
/*TARJETA 2*/
.plans-container--card2 {
    position: relative;
    scroll-snap-align: center;
    width: 70%;  /*Poner mejor 190px */
    min-width: 190px;
    max-width: 300px;
    height: 250px;   /*Poner mejor 248px*/
    margin: 50px 5px 0;
    padding: 0 15px;
    /*background-color: #4938b9c5;*/
    background-color: #93BFB7;
    border-radius: 15px; /*mejor 8px*/
    box-shadow: 0 4px 8 px rgba(89, 73, 30, 0.16);

}
/*TARJETA 3*/
.plans-container--card3 {
    position: relative;
    scroll-snap-align: center;
    width: 70%;  /*Poner mejor 190px */
    min-width: 190px;
    max-width: 300px;
    height: 250px;   /*Poner mejor 248px*/
    margin: 50px 5px 0;
    padding: 0 15px;
    /*background-color: #F08080;*/
    background-color: #387373;
    border-radius: 15px; /*mejor 8px*/
    box-shadow: 0 4px 8 px rgba(89, 73, 30, 0.16);
}
.recomendado {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    right: 0;
    left:0; 
    margin-left: auto;
    margin-right: auto;
    background-color: #6767de;
   /* background-color: var(--bitcoin-orange);*/
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    font-family: 'Inter';
  
}

.plan-card--title {
    padding-top: 30px;
    font-family: 'DM Sans';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price {
    padding:  15px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;

}
.plan-card--price span {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    vertical-align: top;
    
    font-weight: 300;
    
}
/*SUBTITULO CONTENEDOR 1*/
.plan-card--saving1 {
    font-size: 1.2rem;
    color: #757575;
}
/*SUBTITULOCONTENEDOR 2*/
.plan-card--saving2 {
    font-size: 1.2rem;
    color: gray;
}
/*SUBTITULOCONTENEDOR 2*/
.plan-card--saving3 {
    font-size: 1.2rem;
    color: white;
}

.plan-card--ca {
    width: 151px;
    height: 48px;
    margin-top: 20px;
    background-color:var(--off-white) ;
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    border: 2px solid #2D3E40;
    /* var(--bitcoin-orange);*/
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: var(--black);
}
.plan-card--ca span {
    display: inline-block;
    width:20px ;
    height: 20px; 
    background-image: url(./assets/icons/orange-right-arrow.svg);
    vertical-align: text-top;
}

/**/
footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    border-top:2px solid #2D3E40 ;
    background: rgb(2,0,36);
    background: linear-gradient(31deg, rgba(2,0,36,1) 13%, rgba(9,9,121,1) 68%, rgba(0,212,255,1) 100%);
   
 /*   background-color: #027373; */
   /* background-color: var(--bitcoin-orange);*/
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}

.right a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.right a h2{
    color: var(--just-white);
    margin-block-end: 5px;
    font-size: 1.4rem;
}
.right a img{
    width: 40px;
    height: 40px;

    margin-block-end: 5px;
}
.right a p{
    color: var(--just-white);
    font-size: 1.4rem;
}