/* 
1. Posicionamiento 
2. Modelo de caja(box model) parte margin y pading
3. Tipografia
4. Visuales
5. Otros
color https://color.adobe.com/explore
*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


:root {
    /* colores*/
    
    --Text-primary:#ECF0F1;
    --text-secundary: #23606E;
    --text-terciary:#008F8C;
    --primary-background:white;
    --secundary-background:#FACFCE;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html {
    font-family: 'Lora', serif;
    font-size: 62.5%;
}
body{
    background-color: var(--just-white) ;
}
/*Estilo del contenedor header*/
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background-color: var(--primary-background); 
}
header .header-icons-container{
    width: 100%;
    height: 70px;
    display: grid;
    background-color: var(--warm-black);
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 30px;
}
header .icons span{
    color: var(--just-white);
}
.icons a {
    text-decoration: none;
    display: inline;
    color: var(--just-white);
}
nav{
    display: grid;
    height: 90px;
    grid-template-columns: 1fr;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;

}
nav .profile-link a{
    color: var(--warm-black);
    border-bottom: 1px solid rgb(131, 127, 208);
    font-weight: bold;
    text-decoration: none;
}

/*Estilo del logo*/
figure{
    position: relative;
}
.logo_one {
    display: none;
}
.logo_two{
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 80px;
    top: -40px;
    left: 30%; 
}
.title_Headers{
    color: var(--text-secundary);
    font-size: 3.5rem;
    font-family: 'Lora', serif;
}
/*Estilos en div que es contenedor texto*/
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-block-start: 100px;
    color: var(--text-terciary);
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}
.header--title-container .header--button{
    position: absolute;
    left: 0;                    /*Posecionar botom*/
    right: 0;                    /*Posecionar botom*/
    margin-right: auto;         /*Posecionar botom*/
    margin-left: auto;          /*Posecionar botom*/
    /*Posecionar contenedor botom*/
    top: 275px;    /*lo deja en el medio*/                 
    display: block;
    padding: 12px;
    margin-top: 35px;
    width: 225px;
    height: 45px;
    background-color: var(--secundary-background);
    box-shadow: 0px 4px 8px rgba(89, 73, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
    color: var(--text-secundary);
}

/*EStilo a mi primer contenedor main*/
main {
    width:100% ;
    height: auto;
}

.main-exchange-container {
    border-top: 2px solid black;
    max-width: 900px;
    width: 100%;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: var(--just-white);
}
.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;        /*centrar el texto en el centro*/
} 
.main-exchange-container .backgroundimg {
    min-width: 200px;
    width: 320px;
    max-width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 20px;
    background-image: url("./assets/img/img\ 16\ zapatos\ ware.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px gray;
}
.backgroundimg:hover{
    transform: scale(1.2);
    margin-block-start: 10px;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--text-terciary);
}
.main-exchange-container h2:hover{
    animation-name: kratos;
    transform: scale(1.4);
}
@keyframes kratos {
    from {
    margin-left: 100%;
    width: 300%
    }
    to {
    margin-left: 0%;
    width: 100%;
    }
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
   /* color: #757575;*/
   color: white;
}

/*Estiloo scrooll*/
.main-tables-container {
    display: flex;
    height: 360px;
    min-width: 320px;
    gap: 10px;
    overflow-x: scroll;     /*da la opcion para subir en caso de mas contenido*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}

/*Estilo en las tablas*/
.main-currency-table {
    /*Parte scroll*/
    position: relative;
    scroll-snap-align: center;


    /*final scroll*/
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif
}
.currency-table-container .img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.img_1:hover{
    transform: scale(1.2) ;
    margin-block-end: 15px;
    margin-block-start: 10px;
    border-radius: 20px;
}

.img_2:hover{
    transform: scale(1.2);
    margin-block-end: 15px;
    margin-block-start: 10px;
    border-radius: 20px;
}

.img_3:hover{
    transform: scale(1.2);
    margin-block-end: 15px;
    margin-block-start: 10px;
    border-radius: 20px;
}

/*Estilo del titulo*/
.main-currency-table .currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table-container table {
    width: 100%;
    height: 100%;
}

.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);

}
.currency-table-container .table__top-left {
    border-radius: 15px 0 0 0 ;
}
.currency-table-container .table__top-right {
    border-radius: 0 15px  0 0;
}
.currency-table-container .table__bottom-left {
    border-radius:  0 0 0 15px;
}
.currency-table-container .table__bottom-right {
    border-radius:  0 0 15px 0;
}
.currency-table-container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    list-style: 1.7rem;
    color: #757575;
}
.currency-table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top:  210px;
    padding:  8px;
    background-color: var(--soft-orange);
    border-radius: 5px;
}
.currency-table--date p {
    
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--black);
    margin-bottom: 20px;
}

/*Tabla de comisiones*/
.main-commissions-table {
    /*Parte scroll*/
    position: relative;
    scroll-snap-align: center;


    /*final scroll*/
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif
}
.main-commissions-table .commissions-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secundary-blue);
}
.commissions-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.commissions-table-container table {
    width: 100%;
    height: 100%;
}
.commissions-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.commissions-table-container .tablecomi__top-left {
    border-radius: 15px 0 0 0 ;
}
.commissions-table-container .tablecomi__top-right {
    border-radius: 0 15px  0 0 ;
}
.commissions-table-container .tablecomi__bottom-left {
    border-radius: 0 0 0 15px ;
}
.commissions-table-container .tablecomi__bottom-right {
    border-radius: 0 0 15px 0;
}

.commissions-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top:  15px;
    padding:  8px;
    background-color: var(--soft-blue);
    border-radius: 5px;
}
.commissions-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
/*Secion de cards*/

.main-product-datail {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    padding:  10px 10px;
    background-color: var(--just-white) ;
    font-family: 'DM Sans', sans-serif  ;
}
.product-detail--logo {
    
    width: 320px;
    min-width: 180px;
    height: 325px;
    border-radius: 10px;
    margin-block-end: 10px;
    top:  -10px;
    left: 50%;
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.7rem;
    font-weight: bolder;
    line-height: 2.6rem;
    color: var(--text-secundary);
}
.product-detail--title p {
    margin-bottom:  10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--text-terciary);
}
/*Contenedor 1*/
.product-detail--card {
    width: 90%;
    /*min-width: 288px;*/
    max-width: 400px;
    height:150px ;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--secundary-background);  /*fondo hijos contenedor*/
    border-radius: 5px;
    box-shadow:  0 4px 8px rgba(0 , 0, 0 , 0.16);
}
.product-detail--card .icon--card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom:  10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--text-secundary);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    list-style: 1.8rem;
    color: #808080;
}
/*contenedor 1*/
.clock {
    background-image: url(./assets/Iconos-redes/servientrega-esto-deberias-saber-antes-de-integrar.jpg);
}
/*Contenedor 2*/
.eye{
    background-image: url(./assets/Iconos-redes/rappi.png);
}
.eye1 {
    border-radius: 5px;
    background-image: url(./assets/Iconos-redes/pedidosya-logo.png);
}

/*Contenedor 3*/
.dinner {
    background-image: url(./assets/icons/dollar-sign.svg);
    
}
/* Contenedor 4*/
.check {
    background-image: url(./assets/icons/check-circle.svg);
    
}

/*tercera secion*/
.bitcoin-img-container {
    width:100% ;
    min-width: 320px;
    max-width: 900px;
    margin-block-start: 10px;
    margin: 0 auto;
    height: 60vh;
    background-image: url("./assets/img/Dia\ del\ padre.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
    padding-top: 120px;
    font-family:'DM Sans', sans-serif  ;
    font-weight: bold;
    font-size: 2.7rem;
    text-align: center;
    color: var(--black);
    height: 40px;
    box-shadow: 10px 10px 10px var(--text-secundary);
}

/*Cuarta seccion*/
.main-blok{
    max-width: 900px;
    margin: 0 auto;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
.container_new_blok{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.oferts-products{
    color: var(--text-terciary);
    border-radius: 10px;
    background-color: var(--secundary-background);
    font-size: 2rem;
    font-weight: 500;
    margin-block-start: 15px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container_new_blok-info {
    align-self: center;
    text-align: center;
    width: 320px;
}
.info-title{
    color: var(--warm-black);
    font-size: 2.5rem;
    font-weight: bolder;
}
.info-subtitle{
    color: var(--warm-black);
    font-size: 1.5rem;
    margin-block-start: 10px;
    padding: 5px;
    margin-block-end: 2.4rem;
    text-align: justify;
}
button {
    border: none;
}
.myButton{
	box-shadow: 3px 4px 0px 0px #354b78;
	background:linear-gradient(to bottom, #6a91e6 5%, #17397d 100%);
	background-color:#6a91e6;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ede4ed;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	
}
.myButton:hover {
	background:linear-gradient(to bottom, #17397d 5%, #6a91e6 100%);
	background-color:#17397d;
}
.myButton:active {
	position:relative;
	top:1px;
}
.container_new_blok-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-block-start: 10px;
    max-width: 320px;
    border-radius: 10px;
}

/*pictures*/
.pictures{
    max-width: 900px;
    
}
.pictures .pictures-title {
    display: flex;
    justify-content: center;
    margin-block-start: 10px;

}
.anchor-title{
    color: var(--text-secundary);
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    text-decoration:none;
   
}
.pictures-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-content: center;
}
.pictures-item {
    margin-block-start: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.pictures-item_big{
    grid-area: 1 / 1/ 3 / 3;
}

/*estilos de foto del home menu*/
.product-menu-title{
    font-size: 2.3rem;
    color: var(--text-secundary);
    font-weight: bolder;
    text-align: center;
    margin-block-end: 10px;
    margin-block-start: 20px;
}
.bkz_niñas{
    color: var(--just-white);
    border-radius: 10px;
    background-color: hotpink;
}
.bkz_niños{
    color: var(--just-white);
    border-radius: 10px;
    background-color: var(--text-secundary);
}
.bkz_hombres{
    background-color: var(--text-terciary);
    color: var(--off-white);
    border-radius: 10px;
}
.wapper-menu-grid{
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
}
.wapper-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #027373;
    padding: 15px;
    border-radius: 10px;
}
.wapper-menu-item h3{
    color: var(--just-white);
    margin-block-end: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
}
.wapper-menu-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.wapper-menu-item:hover{
    transform: scale(1.5);
    border-radius: 20px;
    
}
.price_model {
    padding-left: 10px;
    font-size: 1.2rem;
    color: gold;
    font-weight: bolder;
}

/**/
footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    border-radius: 10px;
    border-top:2px solid #2D3E40 ;
    background-color: var(--Text-primary);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--text-secundary);
}

.right a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.right a h2{
    color: var(--text-terciary);
    margin-block-end: 5px;
    font-size: 1.4rem;
}
.right a img{
    width: 40px;
    height: 40px;

    margin-block-end: 5px;
}
.right a p{
    color: var(--text-terciary);
    font-size: 1.4rem;
}